
html{
    background-color:#424242;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#1b1b1b;
    width:100%;
    

}
header h1,h2{
    text-align: center;
    color:white;
}
nav{
    width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 8px;
	background-color: #002419;
}
ul{
    list-style: none;
	width: 800px;
	margin: 0 auto;
}
li{
    float: left;
    border-radius: 25px;
    border: 2px solid white;

}
li a{
    display:block;
	padding: 12px 6px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}

li a:hover {
    color: black;
    background-color: #38786a;
    border-radius: 25px;
            
}
article{
    background-color: #ffffff;
}

