/* Color Palette: 
Primary:    #455a64
PLight:     #718792
PDark:      #1c313a

Secondary:  #ffb300
SLight:     #ffe54c
SDark:      #c68400
*/


/* Setting bgcolor and font family imported by google fonts api */
html{
    background-color: var(--mainColor);
    font-family: Ubuntu;
    --mainColor: #455a64;
    --mainLightColor: #718792;
    --mainDarkColor: #1c313a;
    --secondaryColor: #ffb300;
    --secondaryLightColor: #ffe54c;
    --secondaryDarkColor : #c68400;
}

/* HEADER RELATED */

/* Setting bgcolor */
header{
    background-color: var(--mainDarkColor);
}

/* setting margin to 0 to get rid of space between header and navbar, aligning text and making it to float center, and setting color to white */
h1,h2{
    margin-top: 0;
    margin-bottom: 0%;
    text-align: center;
    float:center;
    padding: 4px;
    color: white;
}

/* NAVBAR RELATED */


/* bgcolor and aligning icos  */

nav{
    position:sticky;
    top:0;
    background-color: var(--mainDarkColor);
    text-align:center;
    width: 100%;
    
}
/* no style and no margin nor padding  */

ul {  
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  /* horizontal display and no margins */

li {
    display: inline-block;
    margin: 0%;
}
/* displaying it inline, aligning, getting rid of the button decorations, color, padding to te sides, and adjusting font side */

.button, .dropButton{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: var(--mainDarkColor);
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
}
li.dropdown{
    display: inline-block;
}
.dropdown{
    position: relative;
    display: inline-block;
}
/* making the content not visible, and giving those button the color, plus a minimal width to make it even. */

.dropdownContent{
    display: none;
    position:absolute;
    background-color:var(--mainLightColor);
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* formatting the text of the contet */

.dropdownContent a{
    float :none;
    color: white;
    padding: 12px 16px;
    text-decoration: none; 
    display: block;
    text-align: left;
}   
#current{
    box-shadow:inset 0px -3px 0px 0px var(--secondaryDarkColor);
}
/* changing bgccolor on hover, and displaying the dropdown menu  */

.dropdownContent a:hover{
    background-color: #ffffee;
}
.dropdown:hover .dropdownContent {
    display:block;
}
/* changing color whenever hovered to all the buttons  */
li a:hover,.dropdown:hover .dropButton {
    background-color: var(--secondaryColor);
    color:black;
}
/* Pointer for the menus and setting font up  */
button, a{
    font-family: Ubuntu;
    cursor: pointer;
}

/* NAVBAR RELATED */

article{
    background-color: #718792;
}
article a{
    color: black;
    text-decoration: none;
    padding: 6px;
    
}
.menuPracs{
    display: block;
    padding: 4px;
}
h3{
    font-size: 25px;
    margin-bottom: 5px;
}
li a.pracsButton:hover{
    background-color: #1c313a;
    color:white;
}
#noEnun:hover{
    background-color: #718792;
    color:black;
    cursor:default;
}
.practicas{
    padding:2px;
}