* {
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial;
  }
  
  .column {
    float: left;
    width: 32.85%;
    padding: 5px;
    margin:2px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .precio{
      text-align: center;
      font-size: 18px;
  }
  .nombreEvento{
    text-align: center;
  }
  strong{
    font-size:22px;
  }
  img{
      width: 100%;
      height: 300px;
      border-radius:10%;
      object-fit: cover;
  }
  .element{
      border: 1px solid black;
      background-color: rgb(255, 255, 255);
  }
  .hyperspan
{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:1;
}
div{
    position: relative;
}

